html {
  line-break: anywhere;
}
.logo {
  background: url('https://placeimg.com/320/120/tech');
  width: 420px;
  height: 420px;
  background-color: aqua;
}

.ant-layout-header {
  height: 64px;
  padding: 0 50px;
  line-height: 64px;
}

.ant-layout-sider-children {
  height: 100%;
  margin-top: -0.1px;
  padding-top: 0.1px;
}

.title-bar {
  padding: 15px 30px 0px 20px;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.section-title {
  padding: 20px;
  font-weight: bold;
}

.section-title-bandwidth h2 {
  font-weight: bold;
}

.bg-gray {
  background-color: gray;
}

.input-search {
  padding-bottom: 10px;
  margin-right: 0px;
  text-align: right;
}

.main-header {
  color: #6b6f72;
  background: #6b6f72;
}

.integer-step {
  padding-bottom: 10px;
}

.footer-sider {
  position: absolute;
  background-color: #1a3547;
  bottom: 0px;
  margin: 0px;
  width: 100%;
}

.gridStyle {
  width: '12.5%';
  text-align: 'left';
  height: 100;
}

.page-test {
  background-color: white;
}

.user-bop {
  padding: 0px 0px 30px 30px;
}

.grafik-bop {
  padding-top: 30px;
}

/*Layout */
#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

.site-layout .site-layout-background {
  background: #fff;
}

/*From dashboard admin 2*/
.btn-newOrder {
  margin-right: 0px;
  text-align: right;
}

.input-search {
  padding: 0px 20px 0px 0px;
}
